{% extends "base.html" %}
{% block content %}
{% load static %}


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Dongle&family=Gamja+Flower&family=Yeon+Sung&display=swap" rel="stylesheet">

<style>
    main,p {
      font-family: 'Dongle', sans-serif;
        }
</style>

<main style= "background-color:#FFF6DB;">
<div style="display:inline-block; vertical-align: top;">
    <img src="/static/images/복순도가.jpg" alt="img" style="padding: 70px 0px 30px 170px; float: left; width:600px; height:600px;"/>
     <p style="font-size:45px; padding: 0px 80px 20px 260px;">복순도가 6.5도 935ml</p>
     <p style="padding: 10px 0px 0px 240px; font-size:45px; color:blue; font-weight: bold; ">#샴페인 #스파클링 #와인</p>
        <p style="padding: 10px 0px 0px 120px; font-size:30px;">막걸리 치고 탄산이 약하고 신맛이 거의 없고 부드러워 가볍게 한잔하기 좋아요</p>
</div>
    <div style="display:inline-block;">

        <p style="font-size:35px; padding: 65px 0px 0px 125px; font-weight: bold;"> 샴페인에 버금가는 프리미엄 막걸리</p>
        <p style="font-size:28px; padding: 10px 0px 0px 125px; line-height: 31px">
            복순도가 손막걸리는 막걸리계의 돔페리뇽이라고 불리는 프리미엄 막걸리의 대표 제품입니다.<br>
            스파클링 와인을 연상케 하는 부드럽고 풍부한 천연 탄산이 일품이지요. 요거트처럼 새콤달콤<br>
            한 풍미 역시 복순도가 손막걸리의 인기 요인입니다.<br>
            여성 소비자 위주로 높은 호응을 얻기 시작해, 현재 성별과 연령을 막론하고 폭발적인 반응을<br>
            얻어내고 있습니다. 일반 막걸리처럼 누룩향이나 텁텁한 맛이 없어,막걸리를 선호하지 않는<br>
            소비자들도 기분 좋게 마실 만한 술입니다.<br>

          <p style="font-size:35px; padding: 40px 0px 0px 125px; font-weight: bold;">복순도가 손막걸리, 어떻게 만드나요?<br>
              <p style="font-size:28px; padding: 10px 0px 0px 125px; line-height: 31px">
            재래누룩과 항아리, 옛 방식이 주는 새로움<br>
            복순도가 손막걸리는 도가에서 직접 띄운 누룩을 사용해 만듭니다.집안 대대로 내려오는 제조<br>
            방식을 따라 만든 누룩으로, 다른 막걸리에서 찾아볼 수 없던 새롭고 독특한 맛을 부여합니다.<br>
            양조 방식 또한 특기할 만한데요. 복순도가에서는 제조한 지 50년 이상 된 옛 항아리를 사<br>
            용해 술을 빚습니다. 생산단가를 줄이기 위해 타협하지 않고, 옛 방식 그대로 빚어낸 고집이<br>
            오히려 복순도가 손막걸리를 더욱 트렌디하게 만들었습니다.</p>

         <p style="font-size:35px; padding: 40px 0px 0px 125px; font-weight: bold;">복순도가 손막걸리, 음식과의 궁합은?<br>
           <p style="font-size:28px; padding: 10px 0px 0px 125px; line-height: 31px">
           소고기육전 / 새우튀김<br>
            복순도가 손막걸리는 부드러운 탄산감과 새콤달콤한 풍미가 잘 드러나는 막걸리입니다.<br>
            다양한 한식 및 소고기육전이나 새우튀김 등 튀김요리에 곁들이기 좋은 스타일인데요.<br>
            기름지고 튀긴 음식을 복순도가 손막걸리와 함께 마시면 시원한 탄산, 새콤한 산미가<br>
            전과 튀김 특유의 느끼한 맛을 잡아주고 고소한 풍미를 극대화합니다.</p>
</div>
</main>
    <div style="background-color:#FFFFF0; ">
        <p style="padding: 100px 100px 0px 290px; font-size:45px;">[양조장 위치]</p>
        <img src="/static/images/복순도가양조장.png" alt="img" style="padding: 0px 0px 0px 150px; float: left; width:600px; height:600px;">
         <p style="padding: 0px 0px 20px 870px; font-size:45px;">다양한 전통주를 한눈에 비교해 보세요</p>
        <img src="/static/images/막걸리_단맛_탄산.png" alt="img" style="padding: 0px 0px 0px 200px; text-align:right; width:750px; height:550px;"/>
    </div>
    <div style="background-color:#FFFFF0; ">
    <p style=" font-size:33px; padding: 0px 0px 0px 220px;">울산광역시 울주군 상북면 향산동길 50
    <p style=" font-size:33px; padding: 10px 0px 0px 240px;"> 농업회사법인 복순도가 주식회사</p>
    </div>



<!-- Footer Background Image Wrapper -->
<div class="bgded overlay">
  <div class="wrapper row4">
    <footer id="footer" class="hoc clear" style="text-align:center;">
      <p> (주)기승전술 대표 : 팝핀종수</p><tr>
      <p> 기태시 세화동 명훈빌딩 / 전화번호 : 02-222-3333</p></tr>
    </footer>
  </div>
<!-- ################################################################################################ -->
    <div class="wrapper row5">
      <div id="copyright" class="hoc clear">
          <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
          <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
      </div>
    </div>
</div>
<!-- End Footer Background Image Wrapper -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="../layout/scripts/jquery.min.js"></script>
<script src="../layout/scripts/jquery.backtotop.js"></script>
<script src="../layout/scripts/jquery.mobilemenu.js"></script>
  {% endblock %}