{% extends "base.html" %}
{% block content %}
{% load static %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Dongle&family=Gamja+Flower&family=Yeon+Sung&display=swap" rel="stylesheet">

<style>
    main,p {
      font-family: 'Dongle', sans-serif;
        }
</style>

<main style= "background-color:#FFF6DB;">
<div style="display:inline-block; vertical-align: top;">
    <img src="/static/images/죽향도가.jpg" alt="img" style="padding: 70px 0px 50px 150px; float: left; width:600px; height:600px;"/>
    <p style="font-size:42px; padding: 0px 0px 0px 190px;">죽향도가 대대포 막걸리 6도 600ml</p>
     <p style="padding: 30px 0px 0px 260px; font-size:45px; color:blue; font-weight: bold; ">#꿀 #단맛 #꿀맛</p>
        <p style="padding: 10px 0px 0px 130px; font-size:30px;">죽향도가 맛있어요 너무 달지도 않고 정말 부드럽고 꿀향이 나서 좋아요</p>
</div>
    <div style="display:inline-block;">

        <p style="font-size:35px; padding: 65px 80px 0px 165px; font-weight: bold;">  연이은 수상에 빛나는 웰메이드 막걸리</p>
        <p style="font-size:28px; padding: 10px 0px 0px 165px; line-height: 31px">
            대대포 블루는 전라남도 담양을 대표하는 막걸리 브랜드입니다.살짝 익은 감처럼 은은한<br>
            단맛과 깔끔하고 개운한 풍미가 인상적이지요. 2010년대 초중반부터 맛이 좋다는 입소문을<br>
            타기 시작해 현재까지 높은 인기를 얻는 술입니다.<br>
            우리술을 취급하는 전국의 전통주점이나 보틀샵에서 어렵지 않게 찾아볼 수 있는데요.<br>
            우리술 품평회 탁주 부문에서 2019년 최우수상,<br>
            2020년에는 대상을 받을 정도로 우수한 맛과 품질을 인정받는 제품이기도 합니다.</p>

          <p style="font-size:35px; padding: 30px 80px 0px 165px; font-weight: bold;"> 대대포 블루, 어떻게 만드나요?<br>
            <p style="font-size:28px; padding: 10px 0px 0px 165px; line-height: 31px">
            토종 벌꿀과 친환경 쌀의 ‘꿀조합’<br>
            대대포 블루는 담양군에서 재배한 친환경 유기농 쌀로 빚습니다. 10일 이상 저온 숙성 과정<br>
            을 거쳐 쌀이 가진 고유한 향미를 드러내지요. 특별 재료로 갈대 뿌리인 노근과 댓잎을 원료로<br>
            하는 죽엽분이 들어갑니다. 부담스럽지 않고 자연스러운 단 맛을 내기 위해 특별히 국내산<br>
            토종 벌꿀을 첨가한 막걸리기도 합니다. 이 토종 벌꿀과 유기농 쌀의 조합이,가볍고 깔끔<br>
            하면서도 색깔이 뚜렷한 대대포만의 캐릭터를 만들어 냅니다.</p>

         <p style="font-size:35px; padding: 30px 80px 0px 165px; font-weight: bold;">대대포 블루, 음식과의 궁합은?<br>
             <p style="font-size:28px; padding: 10px 0px 0px 165px; line-height: 31px">
            김치전 / 비빔국수 / 해물파전<br>
            대대포 블루는 적당한 탄산과 단 맛을 가진 막걸리입니다. 기름지거나 살짝 매콤한 음식에<br>
            잘 맞는 특징이지요. 특히 김치전이나 해물파전,비빔국수와 같은 음식에 곁들이기 좋습니다.<br>
            우선 향미가 세거나 무겁지 않아요. 해산물은 재료 본연의 맛이 생명인데, 술이 가진<br>
            캐릭터가 너무 강하면 서로의 맛을 해치기 쉽겠지요?<br>
            시원하고 청량한 풍미는 기름지고 느끼할 수 있는 전 맛을 씻어주기 좋습니다. 김치전이나<br>
            비빔국수 같은 음식을 먹을 때는 대대포 특유의 부드러운 질감과 단 맛이 매운 맛을 상쇄해 줍니다.</p>
    </div>
</main>

    <div style="background-color:#FFFFF0; ">
        <p style="padding: 100px 100px 0px 300px; font-size:45px;">[양조장 위치]</p>
        <img src="/static/images/죽향도가양조장.png" alt="img" style="padding: 0px 0px 0px 150px; float: left; width:600px; height:600px;">
         <p style="padding: 0px 0px 20px 870px; font-size:45px; ">다양한 전통주를 한눈에 비교해 보세요</p>
        <img src="/static/images/막걸리_단맛_탄산.png" alt="img" style="padding: 0px 0px 0px 200px; text-align:right; width:750px; height:550px;"/>
    </div>
    <div style="background-color:#FFFFF0; ">
    <p style=" font-size:33px; padding: 10px 0px 0px 220px;">전라남도 담양군 담양읍 외다길 30
    <p style=" font-size:33px; padding: 10px 0px 0px 310px; "> (주) 죽향도가</p>
    </div>


<!-- Footer Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('images/demo/backgrounds/03.png');">
  <div class="wrapper row4">
    <footer id="footer" class="hoc clear" style="text-align:center;">
      <p> (주)기승전술 대표 : 팝핀종수</p><tr>
      <p> 기태시 세화동 명훈빌딩 / 전화번호 : 02-222-3333</p></tr>
    </footer>
  </div>
<!-- ################################################################################################ -->
    <div class="wrapper row5">
      <div id="copyright" class="hoc clear">
          <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
          <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
      </div>
    </div>
</div>
<!-- End Footer Background Image Wrapper -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="../layout/scripts/jquery.min.js"></script>
<script src="../layout/scripts/jquery.backtotop.js"></script>
<script src="../layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>
  {% endblock %}